@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  background-color: rgb(210, 255, 240);
}
h2,
p,
button,
input,
li,
ul {
  font-family: Poppins !important;
}
.employee-card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 15px;
  margin: 10px 0px;
  transition: 0.5s;
  align-items: center;
  
}

.row-right {
  display: flex;
  align-items: center;
  padding: 0;
  width: 50%;
  justify-content: space-between;
}

.employee-card p {
  margin: 5px;
  text-align: left;
  color: rgba(14, 14, 14, 0.781);
}

.row-icon {
  padding: 0px 5px;
}

#home-head {
  text-align: center;
  margin: 5px 0px;
}

.click-button {
  padding: 7px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
}

.btnContain {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
/* 
.mainDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
} */

.deleteIcon {
  background-color: red;
  padding: 7px 7px;
  margin: 0;
  border-radius: 5px;
  color: white;
  border-radius: 200px;
}

.form-input {
  padding: 10px;
  width: 90%;
  margin: 5px auto;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  display: block;
}

form {
  text-align: center;
}

.form-button {
  padding: 7px 15px;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  margin: auto;
}

.form-head {
  margin: 7px auto;
}

@media (min-width: 990px) {
  .employee-card,
  .form-input {
    width: 60%;
    margin: 10px auto;
  }
  .row-right {
    width: 28%;
  }
}

.moreClick {
  font-size: 10px;
  margin: 0;
}
.emp-row-ext {
  overflow: hidden;
  border-radius: 5px;
  font-size: 15px;
  margin: 10px 0px;
  transition: 0.5s;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detailList {
  list-style-type: none;
  display: flex !important;
  width: 100% !important;
  justify-content: space-between;
  margin: 0;
  background-color: red;
  padding: 5px 10px;
  border-radius: 10px;
}

.detailListli {
  margin: 0;
}
