@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  background-color: rgb(210, 255, 240);
}
h2,
p,
button,
input,
li,
ul,
table {
  font-family: Poppins !important;
}

.employee-card p {
  margin: 5px;
  text-align: left;
  color: rgba(14, 14, 14, 0.781);
}

.row-icon {
  padding: 0px 5px;
}

#home-head {
  text-align: center;
  margin: 5px 0px;
}

.click-button {
  padding: 7px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
}

.btnContain {
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0px;
  padding: 10px;
}

body {
  padding: 0;
  margin: 0px;
}

.deleteIcon {
  background-color: red;
  padding: 7px 7px;
  margin: 0;
  border: none;
  color: white;
  border-radius: 5px;
}
.deleteIcon:hover {
  background-color: rgb(23, 95, 204);
  transition: 0.3s;
}

.form-input {
  padding: 10px;
  width: 90%;
  margin: 5px auto;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.199);
  display: block;
}

form {
  text-align: center;
}

.form-button {
  padding: 7px 15px;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  margin: auto;
}

.form-head {
  margin: 7px auto;
}

@media (min-width: 990px) {
  .employee-card,
  .form-input {
    width: 60%;
    margin: 10px auto;
  }
  .row-right {
    width: 28%;
  }
}

tr {
  transition: 0.3s;
}
.data-table {
  display: table;
  width: 98%;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.data-table td,
.data-table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 13px;
  margin: 0px;
}
th {
  text-align: center;
  color: white;
}
.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.data-table tr:nth-child(odd) {
  background-color: white;
}

.data-table tr:hover {
  background-color: #ddd;
}

.data-table th {
  padding: 12px 5px;
  background-color: #04aa6d;
}

.header-btn {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
}
.pagination {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.click-button {
  padding: 5px 10px;
  margin: 0px 10px !important;
}

.pageNum {
  padding: 0px 10px;
}
